{% extends 'layout.html.twig' %}

{% block body %}

    {{ parent() }}
    <div id="wrapper">
        <div id="container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
            {{ form_end(form) }}

            <fieldset>
                <legend>Accueil - {{ messages|length }} message(s)</legend>
                {% for message in messages %}
                    {{ include('tweet.html.twig') }}
                {% else %}
                    Aucun message
                {% endfor %}

            </fieldset>


        </div>
    </div>


{% endblock %}