{% extends 'layout.html.twig' %}

{% block body %}

    {{ parent() }}
    <div id="wrapper">
        <div id="container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
            {{ form_end(form) }}

            <fieldset>
                <legend>Accueil - {{ pagination|length }} message(s)</legend>


                <table>
                    <tr>
                        {# sorting of properties based on query components #}
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                        <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th>
                    </tr>

                    {# table body #}
                    {% for message in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            {{ include('tweet.html.twig') }}
                        </tr>
                    {% else %}
                        Aucun message
                    {% endfor %}
                </table>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

            </fieldset>


        </div>
    </div>


{% endblock %}